{{#if mobile}}
 {{#if currentUser}}
<nav class="navbar navbar-default mobile">

    <ul class="navbar_center">
            <div aria-label="Page_navigation_example">
                <!-- <li><a href="/mobile"><h5>Mobile</h5></a></li> -->

                  <ul class="pagination">
                    <div class="navigate"><a class="page-link" href="/previous"><h3 class="report_words">Previous</h3></a></div>
                    <li class="page-item"><h3 class="report_words">{{pinIndex}}</h3></li>
                    <div class="navigate"><a class="page-link" href="/next"><h3 class="report_words">Next</h3></a></div>
                  </ul>
              </div>
    </ul>
<!-- <ul class="navbar-left mobile_right">
    <li class="right_navigation"><a href="mobile/previous"><h5>Previous</h5></a></li>
</ul> -->
<ul class="navbar_right mobile_right">

  {{#if admin}}
      {{#if admin_page}}
          <li class="right_navigation"><a href="/"><h5>Desktop</h5></a></li>
      {{else}}
          <li class="right_navigation"><a href="/admin"><h5>Admin</h5></a></li>
      {{/if}}
      {{else}}
      <li class="right_navigation"><a href="/info"><h5>Info</h5></a></li>
  {{/if}}
    {{#if mobile}}
        <li class="right_navigation"><a href="/"><h5>Desktop</h5></a></li>
    {{else}}
        <li class="right_navigation"><a href="/mobile"><h5>Mobile</h5></a></li>
    {{/if}}
        <li class="right_navigation"><a href="/logout"><h5>Logout</h5></a></li>
      {{else}}
        <li class="right_navigation"><a href="/login"><h5>Login</h5></a></li>
        <li class="right_navigation"><a href="/sign-up"><h5>Sign Up</h5></a></li>
  {{/if}}
</ul>
</nav>
{{else}}


<nav class="navbar navbar-default">
    {{#if currentUser}}
        {{else}}
    <div class="navbar-header">
      <a class="navbar-brand" href="http://www.pinterest.com">
          <img src='images/pinterest_logo_orange.png' width="200" height="200" title="Go to Pinterest!">

      </a>
    </div>
    {{/if}}

        {{#if currentUser}}
        <ul class="navbar_center">
            {{#if admin_page}}
            <a href="/add-pins"> <button type="button" class="add_pin_button" name="add-pin"><h1>Add Pins</h1></button> </a>
            {{else}}

                <div aria-label="Page_navigation_example">
                    <!-- <li><a href="/mobile"><h5>Mobile</h5></a></li> -->

                      <ul class="pagination">
                        <div class="navigate"><a class="page-link" href="/previous"><h3 class="report_words">Previous</h3></a></div>
                        <li class="page-item"><h3 class="report_words">{{pinIndex}}</h3></li>
                        <div class="navigate"><a class="page-link" href="/next"><h3 class="report_words">Next</h3></a></div>
                      </ul>
                  </div>
            {{/if}}
        {{/if}}
        </ul>

        <ul class="navbar_right">

            {{#if admin}}
                {{#if admin_page}}
                        {{#if currentUser}}
                            <li class="right_navigation"><a href="/"><h5>Desktop</h5></a></li>
                        {{/if}}
                {{else}}
                        <li class="right_navigation"><a href="/admin"><h5>Admin</h5></a></li>
                {{/if}}
            {{else}}
                <li class="right_navigation"><a href="/info"><h5>Info</h5></a></li>
            {{/if}}
          {{#if currentUser}}
                {{#if mobile}}
                    <li class="right_navigation"><a href="/"><h5>Desktop</h5></a></li>
                {{else}}
                    <li class="right_navigation"><a href="/mobile"><h5>Mobile</h5></a></li>
                {{/if}}
                <li class="right_navigation"><a href="/logout"><h5>Logout</h5></a></li>
         {{else}}
                <li class="right_navigation"><a href="/login"><h5>Login</h5></a></li>
                <li class="right_navigation"><a href="/sign-up"><h5>Sign Up</h5></a></li>
          {{/if}}
        </ul>
</nav>
    {{/if}}
