{{#if currentUser}}
    <div class="pin_container">
        <div class="picture_container">
            <img src='{{latestPin.imgUrl}}' alt="latest pin added">
        </div>
        <div class="stats_container">
            <h3>'{{latestPin.title}}'</h3>
            <h3>'{{latestPin.description}}'</h3>
            <h3>'{{latestPin.pinterestUrl}}'</h3>
            <h3>'{{latestPin.labels}}'</h3>
        </div>
    </div>
    <div class="pins_container">
        {{#each pins}}
            <img src='{{this.imgUrl}}' alt="latest pin added">
        {{/each}}
    </div>
{{/if}}
