{{#if currentUser}}
    <div class="pin_container">

        <div class="picture_container">
            <img src='{{pin.imgUrl}}' width="{{pin.imgWidth}}" height="{{pin.imgHeight}}"alt="picture">
        </div>

        <div class="info_container">
            <div class="delete_report_button">
                        <a class="delete_report_button" href="/delete/{{pinIndex}}">
                            <button><h2>Delete</h2></button></a>
                </div>
            <div class="stats_container">

                <form action="POST">
            <h3>{{pin.title}}</h3>

            <div class="form-group">
  <label for="exampleFormControlTextarea1">{{pin.title}}</label>
  <textarea class="form-control" name="title" id="exampleFormControlTextarea1" rows="5" placeholder="{{pin.title}}"></textarea>
</div>

              <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">{{pin.hexCode}}</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{pin.hexCode}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">{{pin.pinterestUrl}}</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{pin.pinterestUrl}}">
              </div>
            </div>

            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" name="flagged" for="exampleCheck1">Flagged</label>
            </div>
            <button type="submit">Submit</button>
</form>

            </div>
            <div class="labels_container">
                {{#each pin.labels}}
            <h3 class="pin_labels">{{this}}</h3>
                {{/each}}
            </div>
        </div>

    </div>

{{/if}}
