{{#if currentUser}}
    <div class="pin_container">

        <div class="picture_container">
            <img src='{{pin.imgUrl}}' width="{{width}}" height="{{height}}" class="current_image" alt='picture not found. please report.' onerror=this.src="images/missing_image.png">
        </div>

    {{#if admin}}
        <div class="pin_info_container">

                <a class="delete_button" href="/delete/{{pinIndex}}">

                    <button class="delete"><h3 class="report_words">Delete Pin</h3></button></a>

                <a class="edit_info" href="/edit/{{pin._id}}">
                    <button class="stats_button">
                        <div class="stats_container">
                            <h3>{{pin.title}}</h3>
                            <h3>{{pin.hexCode}}</h3>
                            <h3>{{pin.pinterestUrl}}</h3>
                        </div>
                        <div class="instructions">
                            <div><h4>click me to edit pin stats</h4></div>
                            <div><h4>|</h4></div>
                            <div><h4>click labels to delete them</h4></div>
                            <div><h4>|</h4></div>
                            <div><h4>click 'delete pin' to delete the pin</h4></div>
                        </div>
                    </button>
                </a>

                <div class="labels_container">
                    {{#each pin.labels}}
                    <a class="delete_label" href="/remove/{{this}}">
                        <button class="label_button"><h3 class="pin_labels">{{this}}</h3></button>
                    </a>
                    {{/each}}
                </div>

            </div>



        </div>
    {{else}}
        <div class="pin_info_container">
            <a class="report_button" href="/flagPin/{{pinIndex}}">
                <button class="report"><h3 class="report_words">Report Pin</h3></button></a>
            <div class="stats_container">
                <h3>{{pin.title}}</h3>
                <h3>{{pin.hexCode}}</h3>
                <h3>{{pin.pinterestUrl}}</h3>
            </div>
            <div class="labels_container">
                {{#each pin.labels}}
            <h3 class="pin_labels">{{this}}</h3>
                {{/each}}
            </div>
        </div>
    {{/if}}

    </div>

    {{else}}
    {{> info}}

{{/if}}
